*{
    box-sizing: border-box;
}
body
{
    font-family: Tahoma, Arial;
}
.quiz-aap
{
    width: 800px;
 margin: 20px auto;
padding: 10px;
background-color: #f8f8f8;
}
.quiz-info
{
    display: flex;
    background-color: white;
    padding: 10px;
}
.count
{
    flex: 1;
    text-align: right;
}
.quiz-area
{
    background-color: white;
    
    padding: 20px;
    margin-top: 10px;
}
.quiz-area h2
{
    margin: 0;
  
}
.answers-area
{
    background-color: #fff;
    padding: 0 20px 20px;

}
.answers-area .answer
{
    background-color: #f9f9f9;
  padding: 15px;
  font-weight: bold;
}
.answers-area .answer:not(:last-child)
{
    border-bottom:1px solid #dfdfdf;
}
.answers-area .answer input[type="radio"]:checked + label
{
    color: #0075ff;
}
.submit-button
{
    width: 100%;
    padding: 10px;
    background-color: #0075ff;
    border: none;
    cursor: pointer;
   font-size: 18px;
   font-weight: bold;
   color: white; 
   border-radius: 6px;
}
.submit-button:focus
{
    outline: none;
}
.bullets
{
    width: 100%;
    background-color: #ffffff;
    display: flex;
  flex-wrap: wrap;
 padding: 20px;
 
}
.spans span
{   margin: 10px;
    width: 20px;
    height: 20px;
    background-color: #eee;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
  border-radius:50% ;
  cursor: pointer;
}
.countdown
{flex: 1;
    text-align: right;
}
.bullets .spans span.on
{
    background-color: #0075ff;
}
.result span
{
font-weight: bold;

}
.result span.bad
{
    color: #dc0a0a;
}
.result span.good
{
    color: #009688;
}
.result span.perfect
{
    color:#0075ff;
}